:root {
  --border-radius: 12px;

  --red: #e30022;

  --violet-100: #ede9fe;
  --violet-200: #ddd6fe;
  --violet-300: #c4b5fd;
  --violet-400: #a78bfa;
  --violet-500: #8b5cf6;
  --violet-600: #7c3aed;
  --violet-700: #6d28d9;

  --main-bg: #ffffff;
}

* {
  /* Box Model */
  margin: 0;
  padding: 0;
  /* Box Style */
  box-sizing: border-box;
}

html, body {
  /* Display and Visibility */
  overflow-x: hidden;
  /* Box Model */
  max-width: 100vw;
}

a {
  /* Typography */
  color: inherit;
  text-decoration: none;
}

li {
  /* Display and Visibility */
  list-style-type: none;
}
