.container {
  /* Display and Visibility */
  display: flex;
  /* Position and Layout */
  flex-direction: column;
  justify-content: space-between;
  /* Box Model */
  padding: 1.5rem;
  /* Background */
  background-color: var(--violet-100);
}

.container ul {
  /* Box Model */
  margin-top: 3rem;
}

.signOut {
  /* Display and Visibility */
  display: flex;
  user-select: none;
  /* Position and Layout */
  align-items: center;
  /* Box Model */
  width: 100%;
  height: 100%;
  padding: 0.75rem;
  /* Box Style */
  border-radius: var(--border-radius);
}

.signOut span {
  /* Box Model */
  margin-left: 0.75rem;
  /* Typography */
  font-size: 1.25rem;
}

.signOut:hover {
  /* Background */
  background-color: var(--violet-200);
  /* Typography */
  color: var(--red);
}
